@mixin noto($size: 16px, $color: $theme-navy, $weight: $font-regular) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
@mixin font-kerning() {
  font-feature-settings: "palt" 1;
  font-kerning: normal;
}